@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');

:root {
    --deep-green: #605828;
    --orange: #f9a115;
    --blush: #fcc5ac;
    --charcoal: #1e1d1d;
    --blue: #a9ccff;
}
html {
    background-color: #e7d8c0;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: none;
    max-width: 100%;
    font-family: 'Mansalva', cursive;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    overflow-y: hidden;
    
    
}




.pencil-image {
    position: fixed;
    width: 8rem;
    height: 14rem;
    background-image: url(./pencil.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-12.4rem, 11.5rem);
    z-index: 4;
    
}

.list-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50rem;
    height: 35rem;
    padding-top: 5.5rem;
    background-image: url(./paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-flow: column nowrap;

}

h1 {
    
    font-family: 'Cormorant Garamond', serif;
    color: var(--deep-green);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.flex-todos {
   
    z-index: 3;
}

.the-list {
    line-height: 3rem;
    color: var(--deep-green);
    font-size: 1.2rem;
    
}


.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    flex-flow: column;
    transform: translateY(-2rem);
    
}



.input-and-add {
    display: flex;
    align-items: baseline;
    height: 7rem;
    
}

input.todo-input {
    font-family: 'Mansalva', cursive;
    border: none;
    background-image: url(./input.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    overflow: visible;
    font-size: 1rem;
    width: 8rem;
    height: 4rem;
    padding: 1rem 1rem 0 1rem;
    filter: none;
    transition: filter 1s linear;
    color: var(--deep-green);
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    
    z-index: 5;
}



 .todo-input:focus {

    color:#c3b150;
}


.todo-input:hover {
    text-decoration: none;
    outline: none;
    color:#a1690e;
    
    
}

input[type=checkbox] {
    width: 1.5rem;
    accent-color: var(--blush);
  }

.add {
    background-image: url(./add-to-do.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem .7rem;
    aspect-ratio: 1;
    border: none;
    background-color: rgb(169, 204, 255, .0);
    color: #405d89;
    font-family: 'Mansalva', cursive;
    font-size: .75rem;
    cursor: pointer;
    width: 8rem;
    height: 3.85rem;
    filter: contrast(80%);
    transition: filter .75s linear;
    
}

.add:hover {
    filter: hue-rotate(180deg);
    aspect-ratio: 1;
    
   
}

.left-and-clear {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left {
    
    font-size: .7rem;
    aspect-ratio: 1;
    text-align: center;
    align-self: center;
    background-color: none;
    background-image: url(./left-to-do.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--deep-green);
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    padding: 1.5rem;
    transform: translateY(-2rem);
}


.clear {
    font-family: 'Mansalva', cursive;
    font-size: .8rem;
    border: none;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 1rem;
    margin-top: 0;
    cursor: pointer;
    background-color: rgb(96, 88, 40, 0);
    background-image: url(./completed-to-dos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--deep-green);
    filter: brightness(90%), saturate(150%);
    height: 4.75rem;
    transition: filter .3s ease-in;
    transform: translateY(-1rem);
}

.clear:hover {
    filter:brightness(80%);
    
}









@media  only screen and (max-width: 767px) {

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pencil-image {
    height: 10rem;
    width: 5.6rem;
    transform: translate(-11.4rem, 10.1rem);
}
 
.list-section {
    height: 30rem;
    width: 32rem;
    
}



}

